.menu {
  margin-top: 25vh;
  display: inline-block !important;
  transition: all 0.5s;
}
.container {
  height: 100vh;
  line-height: 100%;
  text-align: center;
}
.menu:hover {
  transform: scale(1.2);
}
