.title {
  margin-top: -10px;
  color: white;
  text-align: center;
}
.menutext {
  padding: 0 17% 0 10%;
  margin-top: -10px;
  font-size: 50px;
  color: white;
  direction: rtl;
  text-align: start;
}
.menutext > div {
  height: 63vh;
  overflow-y: auto;
}
.lines {
  vertical-align: middle;
}
.dash {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  background-color: white;
  height: 3px;
}
.ord {
  text-align: center;
}
.item:hover {
  text-shadow: 2px 2px gray;
}
.arrow {
  width: 150px;
  position: absolute;
  right: 5%;
  top: 30%;
}
.preventselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
